@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --primary-color: #3a4052;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open sans', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem; font-weight: 500; line-height: 1.2; }

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mb-1{
  margin-bottom: 1rem;
}

.ml-1{
  margin-left: 1rem;
}

.ml-2{
  margin-left: 2rem;
}


.mr-1{
  margin-right: 1rem;
}

.mr-2{
  margin-right: 2rem;
}

.mb-2{
  margin-bottom: 2rem;
}

.pt-1{
  padding-top: 1rem;
}

.pt-2{
  padding-top: 2rem;
}

.pl-1{
  padding-left: 1rem;
}

.pa-1{
  padding: 1rem;
}

.pl-2{
  padding-left: 2rem;
}


.pr-1{
  padding-right: 1rem;
}

.pr-2{
  padding-right: 2rem;
}

.pb-1{
  padding-bottom: 1rem;
}

.pb-2{
  padding-bottom: 2rem;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.white{
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.block{
  display: block;
}

.adminHome{
  margin: auto;
  z-index: 1;
  max-width: 1200px;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  color: #fff;

  .video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: var(--primary-color) url("/img/cover.jpg") no-repeat center center/cover;

    video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.6);
    }
  }

  .content {
    z-index: 1;
  }
}


#overlay {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease;
  background: #000;
  z-index: 4;
}


.sidenav {
  font-size: 16px;
  width: 250px;
  height: 100%;
  left: -250px;
  //width: 0;
  position: fixed;
  //z-index: 2;
  top: 0;
  //left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 4;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #f1f1f1;
    //color: #818181;
    display: block;
    transition: 0.3s;
  }

  a:hover, i:hover{
    color: #818181;
    transition: 0.3s;
  }

  .closeBtn {
    position: absolute;
    top: 10px;
    right: 25px;
    //font-size: 36px;
    margin-left: 50px;
  }

  .loginbtn {
    position: absolute;
    top: 0;
    left: 10px;
    //font-size: 36px;
    //margin-left: 50px;
  }

}

.link{
  &:hover{
    text-decoration: underline;
}
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 25px;
  opacity: .7;
  &:hover{
    transform: scale(1.15);
  }
  transition: transform 0.5s ease-in-out;
}

.button, .button-dark, .button-light {
  //display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 0.5rem;
}

.button:hover, .button-dark:hover, .button-light:hover {
  background: #eece1a;
  color: #000;
}



.btn-dark {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  //border: 3px #fff solid;
  //padding: 1rem 2rem;
  //margin-bottom: 2rem;
  transition: all 0.5s ease-out;
  background: #000;
  color: #fff;

  &:hover {
    background: #eece1a;
    color: #000;
  }
}

.btn-light {
  background: #c4c4c4;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  color: #fff;
  opacity: .8;
  width: 100%;
  //height: auto;
  position: fixed;
  top: 0;
  padding: 0;
  transition: .5s;
  z-index: 3;
  font-weight: 400;
  align-items: baseline;
  height: 55px;

  &.top {
    background: transparent;
  }

  a, i  {
    color: #fff;
    padding: 10px 20px;
    //margin: 0 5px;
  }

  .mainHeader {
    display: none;
  }

  a:hover {
    border-bottom: #28a745 2px solid;
  }

  ul {
    padding: 1rem;
    display: flex;
    list-style-type: none;
    gap: 10px;

  }
}


#about {
  background: var(--primary-color) url("/img/back1.jpg") no-repeat fixed center/cover;
  padding: 40px 40px 80px 40px;
  text-align: center;

  p {

    font-size: 1.2rem;
    max-width: 1000px;
    margin: auto;
    text-align: justify;
  }

}


#info {
  background: #ecf5ff;
  padding: 40px 40px 80px 40px;
  text-align: center;

  .files {
    list-style-type: none;
  }

  ul li a {
    text-decoration: none;
    color: #004a99;

    &:hover {
      text-decoration: underline;
    }
  }
}

.cont{
  font-size: 1.2rem;
  max-width: 1000px;
  margin: auto;
  text-align: left;
  align-items: center;

  ul {
    padding-left: 2rem;
  }

  p {
    padding-bottom: 1rem;
  }
}


#about h2, #info h2, #services h2 {
  font-weight: normal;
  font-size: 2rem;
  margin: 30px 0;
  color: var(--primary-color);
}

#products {
  background: var(--primary-color) url("/img/back2.png") no-repeat fixed center/cover;
  min-height: 500px;
  padding: 40px  40px 80px 40px;
  text-align: center;
  color: #fff;

  a {
    color: #fff;
  }

  h2 {
    font-weight: normal;
    font-size: 2rem;
    margin: 30px 0;
    color: #fff;
  }
}

.products {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(5, 1fr);

  img {
    transition: transform .5s;
    border-radius: 10px;
    &:hover {
      transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
  }
}

#services {
  background: #004a99;
  color: #fff;
  padding: 40px  40px 80px 40px;
  text-align: center;

  h2 {
  color: #fff;
}

}


#partners {
  background: #fff;
  padding: 40px 40px 80px 40px;
  text-align: center;

  h2 {
    font-weight: normal;
    font-size: 2rem;
    margin: 30px 0;
  }

  img {
    max-width: 90%;
  }
}


.partners {
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 70px 10px;
  grid-template-columns: repeat(3, 1fr);

  /*img {
    transition: transform .5s;
    border-radius: 10px;
    &:hover {
      transform: scale(1.2); !* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) *!
    }
  }*/
}

#contacts{
 // max-width: 1200px;
  background: var(--primary-color) url("/img/back3.jpg") no-repeat fixed center/cover;
  padding: 40px 0 10px 0;
  text-align: center;
  color: #fff;

  a {
    color: #fff;
  }

  p {
    text-align: left;
    font-size: 1rem;
    //padding-bottom: 1rem;
  }
}

.footer {
  max-width: 1200px;
  margin: auto;
  display: grid;
  //gap: 70px 10px;
  grid-template-columns: repeat(2, 1fr);
}

.admin-title {
  border-bottom: 1px solid #dee2e6
}

.admin-opts{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem
}

.admin-status{
  margin-right: 5px;
}

.flexCentered{
  display: flex;
  align-items: center;
  justify-content: center
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


table.infoTable{
  ul{
    list-style-type: none;
    padding: 0;

    li.sources{
      margin-top: 1rem;
    }
  }

  tr{
    border: black solid 0.5px;
    background: white;
    color: black;
    a{
      display: block;
      padding: 0.5rem;
      border-radius: 10px;
      background: #17a2b8;
      color: white;
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
    }
    button{
      margin: 0 auto;
      display: block;
      padding: 0.5rem;
      border-radius: 10px;
      background: #17a2b8;
      color: white;
      text-align: center;
      &:hover {
        background: #4eb6c7;
      }
    }
  }

  td{
    border: black solid 0.5px;
  }
}

@media(max-width: 1103px) {

  nav {
    display: none;
  }
  .navbar {
    justify-content: flex-start;
    //
    .mainHeader {
      display: block;
    }

    .openNav{
      margin-top: 0.5rem;
    }

  }

  .products {
    grid-template-columns: repeat(4, 1fr);
  }

  .partners {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
  #contacts{
    p {
      text-align: center;
    }
  }

}

@media(max-width: 860px) {

  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media(max-width: 768px) {

  .partners {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media(max-width: 640px) {

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media(max-width: 480px) {

  .products {
    grid-template-columns: repeat(1, 1fr);
  }
}



@media(max-width: 360px) {

  .content img {
    max-width: 85%;
  }
}
